.hero-section {
  padding: 80px 0;
  background: linear-gradient(to right, #f8f9fa, #eef2ff);
}

.step-card {
  padding: 20px;
  border-radius: 10px;
  background: white;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.feature-card {
  padding: 25px;
  border-radius: 12px;
  background: #f8f9fa;
  font-size: 18px;
  font-weight: 500;
}

.footer {
  margin-top: 40px;
}

.a{
    text-decoration: none;
    color: white;
}
